@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth bg-background font-inter text-front;
  }

  body {
    @apply m-0 p-0 bg-black-3;
  }
}

@layer utilities {
  .p-page {
    @apply px-[5vw];
  }

  .absolute-cover {
    @apply absolute left-0 top-0 h-full w-full;
  }

  input.number-input-no-spinner::-webkit-outer-spin-button,
  input.number-input-no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input.number-input-no-spinner input[type="number"] {
    -moz-appearance: textfield;
  }

  .scrollbar-primary::-webkit-scrollbar {
    @apply h-1 w-1;
  }
  .scrollbar-primary::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .scrollbar-primary::-webkit-scrollbar-thumb {
    @apply rounded bg-primary hover:saturate-200;
  }

  .scrollbar-none::-webkit-scrollbar {
    @apply hidden;
  }

  .scrollbar-idle::-webkit-scrollbar-thumb {
    @apply bg-opacity-30;
  }
  .scrollbar-active::-webkit-scrollbar-thumb {
    @apply bg-opacity-100;
  }

  .clip-minimize-top {
    clip-path: polygon(0% 0%, 100% 0, 100% 0%, 0% 0%);
  }
  .clip-quadrilateral-full {
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  .sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}
